* {
    box-sizing: border-box;
}

.App {
    width: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 100px auto;
    padding: 40px 30px 20px 30px;
    background: #869e51;
    border-radius: 15px;
    box-shadow: 0 0 300px 0px rgba(138, 184, 31, 0.2);
    @media (max-width: 575px) {
        width: 100%;
        height: 100dvh;
        box-shadow: none;
        margin: 0;
        padding: 20px 15px;
        justify-content: center;
        border-radius: 0px;
    }
}

.game-info {
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: center;
    font-size: 24px;
    line-height: 50px;
    .symbol {
        font-size: 36px;
    }
    @media (max-width: 575px) {
        height: auto;
    }
}

.game-status {
    background: rgba(231, 245, 167, 0.258);
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.game-field {
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    padding: 1px 0 0 1px;
    margin-bottom: 20px;
    @media (max-width: 575px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.game-reset {
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        cursor: pointer;
    }
}

.cell {
    transition: all 0.2s ease;
    @media (min-width: 575px) {
        &:hover {
            cursor: cell;
            background-color: #fff;
            border: 1px solid #848484;
        }
    }
    &:nth-child(1) {
        border-top-left-radius: 15px;
        border: 1px solid #848484;
    }
    &:nth-child(3) {
        border-top-right-radius: 15px;
        border: 1px solid #848484;
    }
    &:nth-child(7) {
        border-bottom-left-radius: 15px;
        border: 1px solid #848484;
    }
    &:nth-child(9) {
        border-bottom-right-radius: 15px;
        border: 1px solid #848484;
    }
}

.cell--win {
    background-color: #fbd6d6;
}

.symbol {
    font-size: 40px;
    line-height: 1;
}

.symbol--x {
    color: red;
}

.symbol--o {
    color: green;
}
