.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 100px auto;
    padding: 20px 30px 30px 30px;
	background: #869e51;
	border-radius: 15px;
	box-shadow: 0 0 300px 0px rgba(138, 184, 31, 0.2);
}

.game-info {
    margin-bottom: 15px;
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: end;
	justify-content: center;
	font-size: 20px;
	.symbol {
		font-size: 38px;
	}
}

.game-field {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
	padding: 1px 0 0 1px;
}

.cell {
	transition: all 0.2s ease;
	&:hover {
		cursor: pointer;
		background-color: #fff;
		border: 1px solid #848484;
	}
	&:nth-child(1) {
		border-top-left-radius: 15px;
		border: 1px solid #848484;
	}
	&:nth-child(3) {
		border-top-right-radius: 15px;
		border: 1px solid #848484;
	}
	&:nth-child(7) {
		border-bottom-left-radius: 15px;
		border: 1px solid #848484;
	}
	&:nth-child(9) {
		border-bottom-right-radius: 15px;
		border: 1px solid #848484;
	}
}

.symbol {
	font-size: 40px;
	line-height: 1;
}

.symbol--x {
	color: red;
}

.symbol--o {
	color: green;
}